body {
  background-color: darkgrey;
}
h1 {
  background-color: lightgray;
}

p:nth-child(2) {
  background-color: #0088dd;
}
p:nth-child(3) {
  background-color: #0095e2;
}
p:nth-child(4) {
  background-color: #00a0e6;
}
p:nth-child(5) {
  background-color: #30aae9;
}
p:nth-child(6) {
  background-color: #58b6ed;
}
p:nth-child(7) {
  background-color: #72c1f0;
}
p:nth-child(8) {
  background-color: #8ccaf2;
}
p:nth-child(9) {
  background-color: #01bb89;
}
p:nth-child(10) {
  background-color: #f5b0cc;
}
p:nth-child(11) {
  background-color: #f69fc0;
}
p:nth-child(12) {
  background-color: #f58cb2;
}
p:nth-child(13) {
  background-color: #f47ba6;
}
p:nth-child(14) {
  background-color: #f36a98;
}
p:nth-child(15) {
  background-color: #f45a8b;
}
p:nth-child(16) {
  background-color: #ee3e80;
}

p {
  padding: 0;
  margin: 0;
}
